This is a modified version of a notebook created by Google. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with [this License](https://www.apache.org/licenses/LICENSE-2.0). **Copyright 2017 Google LLC**.

# Intro to pandas

**Learning Objectives:**
  * Gain an introduction to the `DataFrame` and `Series` data structures of the *pandas* library
  * Access and manipulate data within a `DataFrame` and `Series`
  * Import CSV data into a *pandas* `DataFrame`

As noted on the website, [*pandas*](http://pandas.pydata.org/) "is an open source library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language."  It's a great tool for handling and analyzing input data, and many ML frameworks support *pandas* data structures as inputs (for example, you can pass a *pandas* dataframe to the `train_test_split()` function of *sci-kit learn*.

Although a comprehensive introduction to the *pandas* would span many pages, the core concepts are fairly straightforward, and we'll present them below. For a more complete reference, the [*pandas* docs site](http://pandas.pydata.org/pandas-docs/stable/index.html) contains extensive documentation and many tutorials.

## Basic Concepts

The following line imports the *pandas* package and prints the version:

In [ ]:
import pandas as pd
pd.__version__

The primary data structures in *pandas* are implemented as two classes:

  * **`DataFrame`**, which you can imagine as a relational data table, with rows and named columns.
  * **`Series`**, which is a single column. A `DataFrame` contains one or more `Series` and a name for each `Series`.

The data frame is a commonly used abstraction for data manipulation. Similar implementations exist in [Spark](https://spark.apache.org/) and [R](https://www.r-project.org/about.html).

One way to create a `Series` is to construct a `Series` object. For example:

In [ ]:
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

`DataFrame` objects can be created by passing a `dict` mapping `string` column names to their respective `Series` (see [Dictionary section](https://www.learnpython.org/en/Dictionaries) of *learnpython.org*). Example:

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

cities = pd.DataFrame({ 'City name': city_names, 'Population': population })
cities

If the `Series` don't match in length, missing values are filled with special [NA/NaN](http://pandas.pydata.org/pandas-docs/stable/missing_data.html) values. Example:

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento', 'New York']) # 4 cities
population = pd.Series([852469, 1015785, 485199])                               # only 3 values

cities_NA = pd.DataFrame({ 'City name': city_names, 'Population': population })
cities_NA

But most of the time, you load an entire file into a `DataFrame`. The following example loads a file with California housing data. Run the following cell to create a Pandas dataframe from a url:

In [ ]:
california_housing_dataframe = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
california_housing_dataframe

We can also create a Pandas dataframe from a local csv file (among other file types). For the following code to run, make sure that the csv file has been downloaded and is in the same folder as this notebook. If the csv file is somewhere else on your computer, then you will have to specify `"/path/to/file/california_housing_train.csv"`.

In [ ]:
california_housing_dataframe = pd.read_csv("california_housing_train.csv", sep=",")
california_housing_dataframe

We can use `DataFrame.info()` to show basic information about a `DataFrame`.

In [ ]:
california_housing_dataframe.info()

We can use `DataFrame.describe()` to show interesting statistics about a `DataFrame`.

In [ ]:
california_housing_dataframe.describe()

Another useful function is `DataFrame.head`, which displays the first few records of a `DataFrame`:

In [ ]:
california_housing_dataframe.head()

And `DataFrame.tail()` to see the last few records:

In [ ]:
california_housing_dataframe.tail()

Another powerful feature of *pandas* is graphing. For example, `DataFrame.hist` lets you quickly study the distribution of values in a column:

In [ ]:
california_housing_dataframe.hist('housing_median_age')

And `DataFrame.plot.scatter` lets you quickly see a scatter plot for two columns:

In [ ]:
california_housing_dataframe.plot.scatter('median_income', 'median_house_value')

## Indexes
Both `Series` and `DataFrame` objects also define an `index` property that assigns an identifier value to each `Series` item or `DataFrame` row. 

By default, at construction, *pandas* assigns index values that reflect the ordering of the source data. Once created, the index values are stable; that is, they do not change when data is reordered.

In [ ]:
city_names.index

In [ ]:
cities.index

Call `DataFrame.reindex` to manually reorder the rows. For example, the following has the same effect as sorting by city name:

In [ ]:
cities.reindex([2, 0, 1])

Reindexing is a great way to shuffle (randomize) a `DataFrame`. In the example below, we take the index, which is array-like, and pass it to NumPy's `random.permutation` function, which shuffles its values in place. Calling `reindex` with this shuffled array causes the `DataFrame` rows to be shuffled in the same way.
Try running the following cell multiple times!

In [ ]:
# run this code a few times and note the change in order of the rows

random_order = np.random.permutation(cities.index)
print("\nNew random order for rows is {}\n".format(random_order))

cities.reindex(random_order)

For more information, see the [Index documentation](http://pandas.pydata.org/pandas-docs/stable/indexing.html#index-objects).

## Accessing Data

The three primary ways of accessing data in a Pandas dataframe are `[]`, `.loc`, and `.iloc`. To see how these work, let's load a subset of the `iris` dataset, contained in the `iris_data.csv` file that accompanies this notebook. We will also change the index so it's a bit easier to see what is going on.

In [ ]:
iris = pd.read_csv("iris_data.csv")

# Don't worry about the two lines of code here
# just take a look at the output and note that the "index" column gives the labels 'a', 'b', 'c', etc. to the rows
# of the data frame. Normally, the labels for the rows are '0', '1', '2', etc.
iris['index'] = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'f']
iris.set_index(keys='index', inplace=True, drop=True)

iris

### Using `[]`

Selecting one column:

In [ ]:
iris["sepal_width"]

Selecting two or more columns:

In [ ]:
iris[ ["sepal_width", "petal_width"] ]

Selecting multiple rows:

In [ ]:
iris[0:2] # Note that 0:2 denotes position, so we are selecting the first (0) and second (1) rows; remember that Python indexing start from 0

### Using `.loc`

The `.loc` method selects rows and columns by **label**, that is, by name. This is used in the form: `DataFrame.loc[row labels, column labels]`. 

Note that the colon `:` means select all rows and/or all columns, depending on where you place it.

In [ ]:
iris.loc['a', : ] # selects the row labeled 'a'

In [ ]:
iris.loc[ ['a', 'e', 'h'], :] # selects the rows labeled 'a', 'e', and 'h'

In [ ]:
iris.loc[:, 'sepal_width'] # selects the column labeled 'sepal_width'

In [ ]:
iris.loc[:, ['sepal_length', 'petal_width']] # selects the columns labeled 'sepal_length' and 'petal_width'

In [ ]:
iris.loc[ ['a', 'e'], ['sepal_width', 'petal_width']] # selects the rows labeled 'a' and 'e' and the columns labeled 'sepal_width' and 'petal_width'

### Using `.iloc`

The `.iloc` method selects rows and columns by **position**. This is used in the form: `DataFrame.loc[row positions, column positions]`. 

Note that the colon `:` means select all rows and/or all columns, depending on where you place it. 

Let's reproduce what we did with `.loc` but with `.iloc`.

In [ ]:
iris.iloc[0, : ] # selects the first row

In [ ]:
iris.iloc[ [0, 4, 7], :] # selects the first, fifth, and eight rows

In [ ]:
iris.iloc[:, 1] # selects the second column

In [ ]:
iris.iloc[:, [0, 3]] # selects the first and fourth columns

In [ ]:
iris.iloc[ [0, 4], [1, 3]] # selects the first and fifth rows and the second and fourth columns

In addition, *pandas* provides an extremely rich API for advanced [indexing and selection](http://pandas.pydata.org/pandas-docs/stable/indexing.html) that is too extensive to be covered here.

## Manipulating Data

You may apply Python's basic arithmetic operations to `Series` or columns. For example:

In [ ]:
iris['sepal_length'] * 100.  # convert cm to meters

[NumPy](http://www.numpy.org/) is a popular toolkit for scientific computing. *pandas* `Series` can be used as arguments to most NumPy functions:

In [ ]:
import numpy as np

np.log(iris['petal_width'])

We also do more complex operations. The example below creates a new `Series` that indicates whether `sepal_width` is greater than 3.2:

In [ ]:
iris['sepal_width'] > 3.2

We can use the output from the above to subset our dataframe based on the specified condition.

In [ ]:
iris[ iris['sepal_width'] > 3.2 ]

The operation above only keeps the rows where our condition, `sepal_width > 3.2` is `True`.


Modifying `DataFrames` is also straightforward. For example, the following code adds two `Series` to an existing `DataFrame`:

In [ ]:
iris['sepal_ratio'] = iris['sepal_length'] / iris['sepal_width']
iris['petal_ratio'] = iris['petal_length'] / iris['petal_width']
iris

## Using with Scikit-Learn (OPTIONAL)

In this section we will just give a brief example of a couple ways that Pandas dataframes integrate with the scikit-learn API. **We have not yet learned about some of the code, models, and steps that are included here, but it may be a worth just reading through and executing the code and looking at the output and thinking about what may be going on. You may not understand any or all of it at this point, but that's ok.**

### Using Dataframes directly

Here, we will specify which columns we want to keep as our features:

In [ ]:
feature_columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

X_df = iris[ feature_columns ]

X_df

In [ ]:
type(X_df)

And which column is our target:

In [ ]:
y = iris['target']
y

In [ ]:
type(y)

And then create train and test sets directly from the Pandas dataframe:

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y)

In [ ]:
X_train

In [ ]:
type(X_train)

In [ ]:
y_train

In [ ]:
type(y_train)

And use to create a model:

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=1)

clf.fit(X_train, y_train)

clf.score(X_test, y_test)

Another way to do this is to extract a NumPy array from the dataframe and then use those arrays as we have been doing up until now.

In [ ]:
X_df

In [ ]:
X_array = X_df.values

X_array

In [ ]:
type(X_array)

In [ ]:
y_array = y.values

y_array

In [ ]:
type(y_array)