<a href="https://colab.research.google.com/github/Chaitanya-Varma-Sykam/PythonPracticeCode/blob/master/Practice21-11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Convert Farenheit to Celcius
print("Enter a temp in farenheit to covert: ")
f=int(input())
print(f'The temperture in celcius is {((f-32)*5)/9} degree celcius')

In [ ]:
#2.swap 2 numbers ( u can use temporary variable) 
temp=0
print("Enter value of a")
a=int(input())
print("Enter value of b")
b=int(input())
print(f'Before swaping a={a} and b={b}')
temp=a
a=b
b=temp
print(f'After swapping a={a} and b={b}')

In [ ]:
#3.Swap 2 numbers with out using temperory variable
print("Enter value of a")
a=int(input())
print("Enter value of b")
b=int(input())
print(f'Before swaping a={a} and b={b}')
a=a+b 
b=a-b 
a=a-b 
print(f'Before swaping a={a} and b={b}')

In [ ]:
#4.print all even number from 1-100
n=2
while(n<101):
  print(n)
  n=n+2

In [ ]:
#5.print yor name 10 times
i=1
while (i<11):
  print(f"{i}.Chaitanya Varma")
  i=i+1

In [ ]:
#6.print 1 to 100 is ascending order
i=1
while (i<101):
  print(i)
  i=i+1

In [ ]:
#7.print 1 to 100 is descending order
i=100
while (i>0):
  print(i)
  i=i-1

In [ ]:
#8.print 1 -50 and 50-1
i=1
while (i<=50):
  print(i)
  i=i+1
i=i-1
while (i>0):
  print(i)
  i=i-1

In [ ]:
#9.print all multiples of 5 which are less than 200
i=5
while (i<200):
  print(i)
  i=i+5

In [ ]:
#9a.) print all numbers which are mutiples of both 5 and 3 less than 300 (optional)
i=15
while (i<301):
  print(i)
  i=i+15

In [ ]:
#10.Print prime numbers less than 100
primes=[2]
for x in range(1,100,2):
  i=0
  for y in range(2,100):
    if y==x:
      continue
    k=x%y
    if k==0:
      break
    else:
      i=i+1
  #print(f'i={i} x={x}')
  if i==97:
    primes.append(x)

print(primes)   
print(len(primes))

# New Section

In [ ]:
#10.Print prime numbers less than 100
print("Enter no n")
n=int(input())
primes=[2]
for x in range(1,n,2):
  i=0
  for y in range(2,n):
    if y==x:
      continue
    k=x%y
    if k==0:
      break
    else:
      i=i+1
  #print(f'i={i} x={x}')
  if i==n-3:
    primes.append(x)

print(primes)   
print(len(primes))

In [53]:
#10.Print prime numbers less than 100
print("Enter no n")
n=int(input())
primes=[2]
for x in range(1,n,2):
  i=0
  for y in primes:
    if y==x:
      continue
    k=x%y
    if k==0:
      break
    else:
      i=i+1
  print(f'i={i} x={x}')
  if i==len(primes):
    primes.append(x)

print(primes)   
print(len(primes))

Enter no n
50
i=1 x=1
i=1 x=3
i=1 x=5
i=1 x=7
i=1 x=9
i=1 x=11
i=1 x=13
i=1 x=15
i=1 x=17
i=1 x=19
i=1 x=21
i=1 x=23
i=1 x=25
i=1 x=27
i=1 x=29
i=1 x=31
i=1 x=33
i=1 x=35
i=1 x=37
i=1 x=39
i=1 x=41
i=1 x=43
i=1 x=45
i=1 x=47
i=1 x=49
[2, 1]
2